task2/server/CarsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://soap.loc/soap/task2/server/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CarsService" targetNamespace="http://soap.loc/soap/task2/server/">

<types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soap.loc/soap/task2/server/">
        <xs:complexType name="CarDetailed">
            <xs:sequence>
                <xs:element name="id" type="xs:integer" />
                <xs:element name="brand" type="xs:string" />
                <xs:element name="model" type="xs:string" />
                <xs:element name="year" type="xs:integer" />
                <xs:element name="capacity" type="xs:float" />
                <xs:element name="color" type="xs:string" />
                <xs:element name="max_speed" type="xs:integer" />
                <xs:element name="price" type="xs:integer" />
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="Car">
                <xs:sequence>
                    <xs:element name="id" type="xs:integer" />
                    <xs:element name="brand" type="xs:string" />
                    <xs:element name="model" type="xs:string" />
                </xs:sequence>
        </xs:complexType>

        <xs:element name="getCarByIdRequestType">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="CarId" type="xs:integer" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="getAllCarsRequestType">
            <xs:complexType>
                <xs:sequence/>
            </xs:complexType>
        </xs:element>

        <xs:complexType name="CarList">
            <xs:complexContent>
                <xs:restriction base="soapenc:Array">
                    <xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:Car[]"/>
                </xs:restriction>
            </xs:complexContent>
        </xs:complexType>

        <xs:element name="ListOfCarsByParam">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="year" type="xs:integer" minOccurs="1" maxOccurs="1" />
                    <xs:element name="model" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="capacity" type="xs:float" minOccurs="0" maxOccurs="1" />
                    <xs:element name="color" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="maxSpeed" type="xs:integer" minOccurs="0" maxOccurs="1" />
                    <xs:element name="price" type="xs:integer" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="OrderParamsRequestType">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="CarId" type="xs:integer"  minOccurs="1" maxOccurs="1" />
                    <xs:element name="FirstName" type="xs:string"  minOccurs="1" maxOccurs="1" />
                    <xs:element name="LastName" type="xs:string"  minOccurs="1" maxOccurs="1" />
                    <xs:element name="PaymentId" type="xs:integer"  minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="OrderResponse">
            <complexType/>
        </xs:element>

    </xs:schema>
</types>
    <message name="getCarByIdRequest">
        <part name="parameters" element="tns:getCarByIdRequestType"/>
    </message>
    <message name="getCarByIdResponse">
        <part name="parameters" type="tns:CarDetailed"/>
    </message>

    <message name="getAllCarsRequest">
        <part name="parameters" element="tns:getAllCarsRequestType"/>
    </message>
    <message name="getAllCarsResponse">
        <part name="parameters" type="tns:CarList"/>
    </message>

    <message name="getCarsByParamRequest">
        <part name="parameters" element="tns:ListOfCarsByParam"/>
    </message>
    <message name="getCarsByParamResponse">
        <part name="parameters" type="tns:CarList"/>
    </message>

    <message name="newOrderParamsRequest">
        <part name="parameters" element="tns:OrderParamsRequestType"/>
    </message>
    <message name="newOrderResponse">
        <part name="parameters" type="tns:OrderResponse"/>
    </message>

    <portType name="CarServiceSoapType">
        <operation name="getCarById">
            <input message="tns:getCarByIdRequest"/>
            <output message="tns:getCarByIdResponse"/>
        </operation>

        <operation name="getAllCars">
                <input message="tns:getAllCarsRequest"/>
                <output message="tns:getAllCarsResponse"/>
        </operation>

        <operation name="getCarsByParam">
                <input message="tns:getCarsByParamRequest"/>
                <output message="tns:getCarsByParamResponse"/>
        </operation>

        <operation name="newOrder">
                <input message="tns:newOrderParamsRequest"/>
                <output message="tns:newOrderResponse"/>
        </operation>
    </portType>

    <binding name="CarsServiceSoapBinding" type="tns:CarServiceSoapType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>


            
            <operation name="getCarById">
                <soap:operation soapAction="" style="document"/>
                    <input>
                        <soap:body use="literal"/>
                    </input>
                    <output>
                        <soap:body use="literal"/>
                    </output>
            </operation>

            <operation name="getAllCars">
                <soap:operation soapAction="" style="document"/>
                    <input>
                        <soap:body use="literal"/>
                    </input>
                    <output>
                        <soap:body use="literal"/>
                    </output>
            </operation>

            <operation name="getCarsByParam">
                <soap:operation soapAction="" style="document"/>
                    <input>
                        <soap:body use="literal"/>
                    </input>
                    <output>
                        <soap:body use="literal"/>
                    </output>
            </operation>

            <operation name="newOrder">
                <soap:operation soapAction="" style="document"/>
                    <input>
                        <soap:body use="literal"/>
                    </input>
                    <output>
                        <soap:body use="literal"/>
                    </output>
            </operation>

    </binding>
    <service name="CarsService">
        <port name="CarsServiceSoap" binding="tns:CarsServiceSoapBinding">
            <soap:address location="http://soap.loc/soap/task2/server/index.php" />
        </port>
    </service>
</definitions>